/*fonte Barlow, Gloria Hallelujah  e Yanone Kaffeesatz*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Gloria+Hallelujah&family=Oswald&family=Yanone+Kaffeesatz&display=swap');

/* Cor da página */
body {
    color: rgb(16, 16, 80);
    background-color: #fce490;
    font-family: Arial, sans-serif;
    font-size: 20pt;
}

/* LARGURA DO TEXTO NA PÁGINA */
div#Interface {
    width: 1000px;
    /*largura da página central*/
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px 10px 10px 10px;
}

/*CABEÇALHO*/
header#cabecalho {
    border-bottom: 4px #BB9469 ridge;
    /*grossuro, cor e tipo*/
    height: 100px;
    background: url("/_imagens/logo2.png ") no-repeat 250px -80px;
    background-size: 500px 250px;
}

/*POSIÇÃO DA IMAGEM do cabecalho (coral)*/
header#cabecalho img#icone {
    position: relative;
    left: 100px;
    top: 120px;
    width: 200px;
}

/* Formatação dos títulos*/
h2 {
    text-align: center;
    font-family: Yanone Kaffeesatz;

}

h1 {
    text-align: center;
    font-family: Barlow;
    font-size: 50pt;
}

h3 {
    text-align: center;
    font-family: Yanone Kaffeesatz;
}

p {
    text-align: justify;
    text-indent: 50px;
}


/* Borda da página */
figure.imagens-borda img {
    width: 100%; 
    position: relative;
    border: 4px ridge #BB9469;
    box-shadow: 1px 1px 10px black;
    
}

/*MENUS*/
nav#menus {
    display: block;
}

nav#menus a {
    color: #BB9469;
    text-decoration: none;
    /*tira o sublinhado*/
}

nav#menus li {
    display: block;
    background-color: rgb(16, 16, 80);
    padding: 10px;
    margin: 4px;
    box-shadow: 0px 0px 4px black;
    transition: background-color 1s;
    /*coloca transição*/
    text-align: center;
}

nav#menus ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 20px;

}

nav#menus li:hover {
    background-color: #fce490;
    text-decoration: none;
}

/*CONFIGURANDO SEPARAÇÕES*/
/*lateral*/

/*principal*/
section#principal {
    display: block;
    width: -1px;
    float: left;
    padding-right: 15px;
}

/*rodape da página*/
footer#rodape {
    clear: both;
    border-top: 4px ridge #BB9469;
}

footer#rodape p {
    text-align: center;
}

/*formatação de Links (principalmente do rodapé)*/
a {
    text-align: center;
    color: #BB9469;
    text-decoration: none;
    /*tira o sublinhado*/
}

a:hover {
    text-decoration: underline;
    /*coloca o sublinhado*/
}

/*formatação de títulos importantes*/
article#titulos h2 {
    color: #BB9469;
    font-size: 30pt;
    background-color: #fce490;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 30px;/*coloca redondinho*/
}
/* CONFIG DE IMAGENS */
/* config da imagem você escohe */
figure#vcesc{
    position: relative;
    left: 220px;
    top:1px;
    width: 600px;
}

figure#satisfacao{
    position: relative;
    left: 600px;
    top:-10px;
    width: 600px;
}
img#colorido{
    position: relative;
    left: 310px;
    top:-20px;
    width:300px;
}

/* POSIÇÃO DOS UL DE SATISFAÇÃO */
ul#satisfacao{
    position: absolute;
    top: 3900px;
    left: 600px;
}

/* Cor nos tipos de produto no menu de produtos geral */
.letraa:hover{
    background-color: #fce490;
    border-radius: 40px;
    margin-right: 400px;
}
ul#prod{
    margin-right: 250px;
}

.usuario{
    position: relative;
    left: 1500px;
    top:-300px;
}
