/*fonte Barlow, Gloria Hallelujah  e Yanone Kaffeesatz*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Gloria+Hallelujah&family=Oswald&family=Yanone+Kaffeesatz&display=swap');
/* Cor da página */
body{
    color:rgb(16, 16, 80);
    background-color: #fce490;
    font-family: Arial, sans-serif;
    font-size: 20pt;
}

/* LARGURA DO TEXTO NA PÁGINA */
div#Interface {
    width: 1000px; /*largura da página central*/
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: px 0px 10px rgba(0,0,0,.5);
    padding: 10px 10px 10px 10px;
}

/*CABEÇALHO*/
header#cabecalho{
    border-bottom: 4px #BB9469 ridge; /*grossuro, cor e tipo*/
    height: 100px;
    background: url("../_imagens/logo2.png ") no-repeat 250px -80px;
    background-size: 500px 250px; 
}

/*POSIÇÃO DA IMAGEM do cabecalho (coral)*/
header#cabecalho img#icone {
    position: relative;
    left: 100px;
    top: 120px;
    width: 200px;
}

/* Formatação dos títulos*/
h2{
    text-align: center;
    font-family: Yanone Kaffeesatz;
   
}
h1{
    text-align: center;
    font-family: Barlow;
    font-size: 50pt;
}

h3{
    text-align: center;
    font-family: Yanone Kaffeesatz;
}
p{
    text-align: justify;
    text-indent: 50px;
}


/* Borda da página */
figure.imagens-borda{
    border:8px ridge #BB9469;
    box-shadow: 1px 1px 20px black;
}
figure.imagens-borda img{
    width: 50%;
    height: 100%;
}

/*MENUS*/
nav#menus{
    display: block;
}

nav#menus a{
    color: #BB9469;
    text-decoration: none; /*tira o sublinhado*/
}

nav#menus li{
    display: block;
    background-color:rgb(16, 16, 80);
    padding: 10px;
    margin: 4px;
    box-shadow: 0px 0px 4px black;
    transition: background-color 1s; /*coloca transição*/
    text-align: center;
}

nav#menus ul{
    list-style: none;
    text-transform:uppercase ;
    position: absolute;
    top: 20px;
    left: 20px;
    
}

nav#menus li:hover {
    background-color: #fce490;
    text-decoration: none;
}

/*CONFIGURANDO SEPARAÇÕES*/
/*lateral*/

/*principal*/
section#principal{
    display:block;
    width: -1px;
    float: left;
    padding-right: 15px;
}
/*rodape da página*/
footer#rodape{
    clear: both;
    border-top: 4px ridge #BB9469;
}
footer#rodape p{
    text-align: center;
}

/*formatação de Links (principalmente do rodapé)*/
a{
    text-align:center;
    color: #BB9469;
    text-decoration: none; /*tira o sublinhado*/
}
a:hover{
    text-decoration: underline; /*tira o sublinhado*/
}

/*formatação de títulos importantes*/
article#titulos h2{
    color: #BB9469;
    font-size: 30pt;
    background-color: #fce490;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 30px;
}

/*TABELA PP*/
table#tabelapp{
    text-align: center;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#tabelapp td{
    border: 1px solid #fce490;
    padding: 10px;
}

table#tabelapp td.ec{
    color: #ffffff;
    background-color: #fce490;
    vertical-align: top;
    font-weight: bold;
}

table#tabelapp tr.eb{
    background-color:#DDD9CD;
    font-weight: bold;
}
/*título da tabela*/
table#tabelapp caption{
    color: #DDD9CD;
    background-color: #BB9469;
    border-radius: 30px;
}


/*ESTILO DO IFRAME DAS PROMOÇOES*/
section#promocoes{
    width: 370px;
    margin: auto;
}
iframe#pagina{
    width: 380px;
    height: 280px;
    border: none;
    overflow: hidden;
}
/* barra de rolagem */
iframe#pagina::-webkit-scrollbat{
    display: none;
}

/*POSIÇÃO IMAGENS DOS PEIXES */
/* peixe grande */
figure#tropgg{
    position: relative;
    left: 70px;
    top:1px;
    width: 10px;
}
/* peixes pequenos doces */
figure#betta{
    position: relative;
    left: 400px;
    top:1px;
}
/* peixes pequenos salgados */
figure#tropp{
    position: relative;
    left: 300px;
    top:1px;
}
